body {
    background-color: rgb(33, 31, 31);
}

#title1 {
    color: white;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 150px;
}

#title2 {
    color: white;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 15px;
}

#bio {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: absolute;
    text-align: center;
    bottom: 50%;
    right: 35%;
    width: 30%;
}

.topnav {
    margin: auto;
    position: absolute;
    top: 5px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.project {
    color: white;
    text-align: center;
}

#project1 {
    vertical-align: middle;
}

#project2 {
    vertical-align: middle;
}