body {
    background-color: rgb(33, 31, 31);
}

.title {
    color: white;
    font-size: 400%;
    text-align: center;
}

#title1 {
    position: relative;
    top: 100px;
}

#title2 {
    color: white;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 15px;
}

#title3 {
    color: white;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 15px;
}

#title4 {
    color: white;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 15px;
}

#skillsTitle {
    position: relative;
    top: 200px;
    font-size: 300%;
}

#ethicsEssay {
    color: white;
}

.bio {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: absolute;
    text-align: center;
    right: 30%;
    width: 40%;
}

#bio1 {
    bottom: 57.5%;
}

#bio2 {
    bottom: 45%;
}

#contactTitle {
    color: white;
    font-size: 200%;
    position: absolute;
    right: 47%;
    bottom: 10%;
}

.contact {
    color: white;
}

.contact1 {
    position: absolute;
    left: 10px;
    bottom: 0;
}
.contact2 {
    position: absolute;
    left: 33%;
    bottom: 0;
}
.contact3 {
    position: absolute;
    right: 33%;
    bottom: 15px;
}
.contact4 {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.topnav {
    margin: auto;
    position: absolute;
    top: 5px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.project {
    color: white;
    text-align: center;
}

.projectTitle {
    font-size: 32px;
    font-weight: bold;
    color: #096a47;
}

.projectDescription {
    font-weight: normal;
}

