body {
    background-color: rgb(0, 0, 0);
}

.title {
    color: white;
    font-size: 400%;
}

#title2 {
    color: white;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 15px;
}

#title3 {
    color: white;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 15px;
}

#title4 {
    color: white;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 15px;
}

#skillsTitle {
    position: relative;
    top: 200px;
    font-size: 300%;
}

#title1 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    top: 150px;
    left: 0%;
    font-size: 72px;
}

#bio1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(178, 178, 178);
    font-size: 18px;
    width: 40%;
    position: relative;
    text-align: center;
    left: 100%;
    transform: translate(-50%, -50%);
    top: 220px;
}

#contact1 {
    position: absolute;
    color: white;
    text-decoration: none;
    top: 25px;
    right: 10%;
}
#contact2 {
    position: absolute;
    color: white;
    text-decoration: none;
    top: 25px;
    right: 4%;
}

#resume {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.contact a:hover {
    text-decoration: underline !important;
}

.topnav {
    margin: auto;
    position: absolute;
    top: 5px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.project {
    color: white;
    text-align: center;
}

.projectTitle {
    font-size: 32px;
    font-weight: bold;
    color: #096a47;
}

.projectDescription {
    font-weight: normal;
}

.NewDescription {
    color: rgb(178, 178, 178);
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    font-size: large;
    width: 50%;
}

.title5 {
    color: white;
    font-size: 400%;
    position: relative;
    text-align: center;
    top: 50px;
}

